<nav class='navbar navbar-default' role="navigation">

    <div class='navbar-header'>
        <ul class='nav nav-pills'>
            <li><a routerLink='test'>test</a></li>
            <li><a routerLink='ngzone'>ngzone</a></li>
            <li><a routerLink='first'>first</a></li>
            <li><a routerLink='second'>second</a></li>
            <li><a routerLink='product'>product</a></li>
            <li><a routerLink='change'>change</a></li>
            <li><a routerLink='calculator'>calculator</a></li>
        </ul>
    </div>

</nav>

<div><router-outlet></router-outlet></div>


<!--<input #t1 type="number">
<input #t2 type="number">
<select #op (change)="calc(t1.value,t2.value,op.value)">
    <option></option>
    <option>addition</option>
    <option>subtraction</option>
    <option>multiplication</option>
    <option>division</option>
</select>
<input type="number" value="{{result}}">

<h2 attdirstyl>main page</h2>

<app-my-new-component></app-my-new-component>
<app-second></app-second>

<app-test></app-test>

<app-parent></app-parent>

<app-change></app-change>

<app-product></app-product>-->



